
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f7f7f7;
        }

        .botones li {
    
            text-decoration: none;
            display: flex ;
            flex-direction: row;
        }
        
        li:hover{
        background-color: aqua;
        }
        .botones ul{
        
        display: flex;
        justify-content: right;
        padding: 25px;
        margin: 10px;
        gap: 20px;
        font-size: 18px;
        color: black;
        
        
        
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
            cursor: pointer; /* Cambia el cursor al puntero al pasar sobre el botón */
        }

        .btn:hover {
            background-color: #0056b3;
        }

        header {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        header img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        video {
            width: 100%;
            display: block;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
    